
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
body html {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar{
background-color: rgb(217, 214, 214);
width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: #e8946d;
  border-radius: 2px;
}